<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
</head>
<body>
    <h1>ToDoList</h1>

    <form method="post" action="/task">
        <input type="text" placeholder="Nouvelle tâche" name="task" autofocus required>
        <button type="submit">Ajouter</button>
    </form>

    <h2>Tâches</h2>

    <ul>
        <% tasks.forEach((task, index) => { %>
            <% if(task.done) { %>
                <li>
                    <s><%= task.title %></s> | <a href="/task/<%= index %>/delete">Supprimer</a>
                </li>
            <% } else { %> 
                <li>
                    <%= task.title %> | <a href="/task/<%= index %>/done">Terminé</a>
                </li>
            <% } %>
        <% }); %>
    </ul>

</body>
</html>